<form phx-submit="submit" phx-change="change">
  <label for="one">
    <input type="radio" id="one" name="selection" value="one" <%= if @selection == "one", do: "checked" %>> one
  </label>

  <label for="two">
    <input type="radio" id="two" name="selection" value="two" <%= if @selection == "two", do: "checked" %>> two
  </label>
</form>
